---
import GamesList from "../components/GamesList.vue";
import TeamPicker from "../components/TeamPicker.vue";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <TeamPicker client:only="vue" />
  <h2>Today's Games</h2>
  <GamesList client:only="vue" range="today" />
  <h2>Upcoming Games</h2>
  <GamesList client:only="vue" range="next7" />
  <a href="/future-games">See all upcoming games</a>
  <h2>Previous Games</h2>
  <GamesList client:only="vue" range="prev7" reverseOrder />
  <a href="/past-games">See all past games</a>
</BaseLayout>

<style>
  h2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  h2::before,
  h2::after {
    content: "";
    height: 4px;
    border-radius: 4px;
    background-color: var(--red);
    flex: 1;
  }

  a {
    display: block;
    text-align: center;
    color: var(--blue);
    margin-bottom: 0.75rem;
    font-weight: 600;
    font-size: 1.125rem;
  }
</style>
