---
import BaseLayout from "../layouts/BaseLayout.astro";
import TeamPicker from "../components/TeamPicker.vue";
import GamesToday from "../components/GamesToday.vue";
import { GET } from "./api/getTeams.ts";

let teamsResponse = await GET(Astro);
const teamsData = await teamsResponse.json();
const teamsList = teamsData.teamsList;
---

<BaseLayout>
  <TeamPicker client:only="vue" teamsList={teamsList} />
  <h2>Today's Games</h2>
  <GamesToday client:only="vue" teamsList={teamsList} />
</BaseLayout>

<style>
  h2 {
    text-align: center;
  }
</style>
