---
import Navigation from "../components/Navigation.astro";
---

<h1>Play Ball</h1>
<Navigation />

<style>
  h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 800;
    color: var(--red);
  }
</style>
