---

---

<nav>
  <a href="/">Home</a>
  <a href="/future-games">Future games</a>
  <a href="/past-games">Past games</a>
</nav>

<style>
  nav {
    background: black;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  a {
    color: white;
    font-weight: 500;
  }
</style>
