---
import "@fontsource-variable/inter";
import "../styles/index.css";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>⚾</text></svg>"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Play Ball</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
  <style>
    :root {
      --blue: #002d72;
      --red: #d50032;
    }

    body {
      font-family: "Inter Variable", sans-serif;
      font-size: 16px;
    }
  </style>
</html>
